@import '../constant.scss';

.footer-wrap {
  width: 100%;
  height: 100%;
  background-color: #999;

  .inner {
    margin: 0 auto;
    width: $PC_pageWidth;
/*
@media (min-width: 1200px) {
  width: $PC_pageWideWidth;
}*/
    height: 100%;
  }

  .top {
    height: 25px;
    background-color: #dee0e5;
  }

  .section {
    height: 100px;
    background-color: #2d3237;
  }

  .bottom {
    height: 30px;
    line-height: 30px;
    font-size: 13px;
    color: #666;
    background-color: #23282d;

    .aliyun a {
      color: #b1d1e8;
    }
  }
}