@import "../constant.scss";
//Header
.header-wrap {
  position: fixed;
  z-index: 9999;
  width: 100%;
  .header-topinfo {
    width: 100%;
    height: 0;
    display: none;
  }
  .header-content-wrap {
    width: 100%;
    height: $HeaderHeight;
    background-color: $HeaderContentBackgroundColor;
    border-bottom: 1px solid $HeaderContentBorderBottomColor;
    box-shadow: 0 0 5px $HeaderContentShadowColor;
    transform: translateZ(0);
  .header-content {
    height: 100%;
    position: relative;
    width: $PC_pageWidth;
@media (min-width: 1200px) {
  width: $PC_pageWideWidth;
} 
    margin: 0 auto;
    border-right: 1px solid rgba(128,128,128,0.1);

    .logo-block {
      padding: 9px 0 0 0;
      .icon-logo {
        width: 32px;
        height: 32px;
        //background: #CCC;
        display: inline-block;
        color: $HeaderContengTitleColor;
        font-size: 32px;
        line-height: 32px;
        font-size: 2rem;
        line-height: 2rem;
      }
    } 

    .header-moving-wrap {
      display: none;
      position: absolute;
      bottom: 0px;
      left: 0;
      height: 3px;
      min-width: 10px;
      width: 10px;
      box-shadow: 0 0px 1px #999;
      background-color: $HeaderContentBackgroundColorDark;
      transition: left $HeaderMovingOption,
                  width $HeaderMovingOption;
      transform: translateZ(0);
      &.active {
        display: block;
      }
    }
    .column { 
      .col-block {
        //display: inline-block;

      }
      .site-title {
        padding: $HeaderContentLeftFontPadding 10px 0 0;
        font-size: $HeaderContentLeftFontSize;
        font-size: ($HeaderContentLeftFontSize/16px)rem;
        line-height: $HeaderContentLeftFontSize;
        line-height: ($HeaderContentLeftFontSize/16px)rem;
        color: $HeaderContengTitleColor;
        
        font-family: $HeaderContentFontFamily;
      }
      ul {
        font-size: 0;
      }
      li.col-item {
        display: inline-block;

      }

      .header-navitem-wrap {
        
        //border-right: 1px solid $HeaderContentBackgroundColorHighlight;
        transition: background 0.1s ease;
        a {
          padding: $HeaderContentNavFontPadding 20px;
          display: block;
          font-size: $HeaderContentNavFontSize;
          font-size: ($HeaderContentNavFontSize/16px)rem;
          line-height: $HeaderContentNavFontSize;
          line-height: ($HeaderContentNavFontSize/16px)rem;
          color: $HeaderContentFontColor;
          font-family: $HeaderContentFontFamily;
        }

        &:hover {
          cursor: pointer;
          a { color: $HeaderContentFontColorHover; }
          background-color: $HeaderContentBackgroundColorHighlight;
        }
      }

      .user-profile {
        font-size:0;
        a {
          padding: $HeaderContentNavFontPadding 5px;
          display: inline-block;
          font-size: $HeaderContentNavFontSize;
          font-size: ($HeaderContentNavFontSize/16px)rem;
          line-height: $HeaderContentNavFontSize;
          line-height: ($HeaderContentNavFontSize/16px)rem;
          background-color: #F9F9F9;
          border-left: 1px solid #EEE;
          &:hover, &:active {
            background-color: $HeaderContentBackgroundColorHighlight;
          }
        }
      }
    }
  }
  }
}