.header-wrap {

  .header-topinfo {
    height: 0;
    display: none;
  }
  .header-content-wrap {
    height: 42px;
    background-color: $HeaderContentBackgroundColor;
    
  .header-content {
    height: 100%;
    position: relative;
    width: $PC_contentWidth;
    margin: 0 auto;
    border-left: 1px solid #000;
    border-right: 1px solid #000;

    .logo-block {
      padding: 4px 12px 0 0;
      .icon-logo {
        width: 32px;
        height: 32px;
        background: #FFF;
        display: inline-block;
      }
    } 

    .header-moving-wrap {
      position: absolute;
      bottom: 0px;
      left: 0;
      height: 4px;
      min-width: 10px;
      width: 10px;
      background: $HeaderContentBackgroundColorDark;
      transition: left $HeaderMovingOption,
                  width $HeaderMovingOption;
    }
    .column { 
      .col-block {
        //display: inline-block;

      }
      .site-title {
        padding: 6px 10px 0 0;
        font-size: 18px;
        font-size: 1.125rem;
        color: #EEE;
      }

      li.col-item {
        display: inline-block;

      }

      .header-navitem-wrap {
        padding: 14px 20px;
        transition: background 0.1s ease;
        a {
          display: block;
          font-size: 14px;
          font-size: 0.875rem;
          line-height: 14px;
          line-height: 0.875rem;
          color: #EEE;
        }

        &:hover {
          background-color: $HeaderContentBackgroundColorHighlight;
        }
      }

      .search {

      }
    }
  }
  }
}