@import "../constant.scss";
//Slide
.slide-wrap {
	width: 100%;
  position: fixed;
  z-index: -1;
  //background-color: #999;
  .slide-box {
    position: relative;
    width: $PC_slideBoxWidth+$slideClipMargin*5;
    margin: 0 auto;
    height: $PC_slideBoxHeight;

@media (min-width: 1200px) {
  width: $PC_slideBoxWideWidth+$slideClipMargin*5;
  height: $PC_slideBoxWideHeight;
}

    .slide-box-adjust {
      margin: 0 auto;
    }
    

    .slide-clip {
      position: relative;
      box-shadow: 0 0 1px #333;
      margin: $slideClipMargin;
      overflow: hidden;
      

      &.slide-clip-full {
        width: 100%;
        height: 100%;
      }

      @for $i from 1 to 3 {
          &.slide-clip-#{$i} {
            width: $slideLayoutBoxWidthBase * $i - $slideClipMargin;
            height: ($slideLayoutBoxHeightBase + $slideClipMargin) * $i - $slideClipMargin * 2;
          }
      }


@media (min-width: 1200px) {

      @for $i from 1 to 3 {
          &.slide-clip-#{$i} {
            width: $slideLayoutBoxWideWidthBase * $i -$slideClipMargin;
            height: ($slideLayoutBoxWideHeightBase + $slideClipMargin) * $i - $slideClipMargin * 2;
          }
      }
}

      .slide-animating {
        transition: left 1.0s ease, top 1.0s ease;
      }
    }

    .slide-clip-source {
      position: relative;
      display: block;
      width: 100%;
      height: 100%;

      .image {
        margin: 0 auto;
        width: 100%;
        height: 100%;

        &.error {
          display: none!important;
        }
        
      }
      //这里放 阴影
      .slide-shadow {
        width: 100%;
        height: 100%;
        &::before,&:before {
          background: -webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.6));
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          opacity: 0.7;
          content: " ";
          
        }
      }
    }
    .slide-panel {
      position: absolute;
      left: -100%;
      top: -100%;
      width: 100%;
      height: 100%;
      background-color: #5675AF;
      display: none;
      opacity: 0.9;
      color: #FFF;
      text-shadow: 0 0 1px #333;
      span {
        display: inline-block;
        vertical-align: center;
      }
    }
    .slide-click {
      width: 100%;
      height: 100%;
      display: block;
    }
    .slide-clip.slide-focus-child {
      .slide-panel {
        display: block!important;
      }
      .slide-clip-source::after, .slide-clip-source:after {
        display: none!important;
      }
      .slide-badge {
        box-shadow: 1px 1px 1px #999;
      }
    }
    .slide-badge {
      position: absolute;
      left: 0;
      top: 0;

      padding: 2px 5px;
      background-color: #FDC600;
      box-shadow: 1px 1px 1px #333;
      font-size: 12px;
      font-size: 0.625rem;
    }

  }
}