@import "./constant.scss";
@import "./base.scss";

html{
  height:100%;
  //position:relative;
}
body{
  height:100%;
  //position:relative;
  //text-align: center;

}

.wrap {
  width: 100%;
  min-height: 100%;
  margin: 0 auto -100px;
  //width: 1000px;
  background-color:#EEE;
  //box-shadow:0 0 15px 1px #999;
}

.content {
  height: 1000px;
}


.footer {
  height: 100px;


}

@import "./component/header.scss";