@import "./constant.scss";
//News
html{
  height:100%;
  //position:relative;
}
body{
  height:100%;
  //position:relative;
  //text-align: center;

}

.content .content-wrap.content-wrap-nomargin {
  margin-top: 10px;
}

//TODO: news style



